---
title: Metalsmith + Jade + Sass
template: layout.jade
pageStyles: <link rel="stylesheet" href="styles/scss-sample.css">
---

p This content is written by Jade + Sass.
p Jade is useful. e.g.

ul
  for item in [ 'for-in', 'variables', 'e.g.' ]
    li= item
